<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Lista de Tarefas</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <section>
    <h1>Lista de Tarefas</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Feita</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="tarefa : ${tarefas}">
          <td th:text="${tarefa.id}"></td>
          <td th:text="${tarefa.descricao}"></td>
          <td th:text="${tarefa.feita} ? 'Sim' : 'Não'"></td>
          <td>
            <a th:href="@{'/tarefas/editar/' + ${tarefa.id}}">Editar</a>
            <a th:href="@{'/tarefas/deletar/' + ${tarefa.id}}">Deletar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="/tarefas/nova">Adicionar Nova Tarefa</a>
  </section>
</body>

</html>