<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Lista de Tarefas</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="form-container">
    <h1>Lista de Tarefas</h1>

    <ul class="task-list">
      <li th:if="${tarefas.isEmpty()}" class="empty-task-message" style="border: none;">
        <span>Você não tem nenhuma tarefa</span>
      </li>
      <li th:each=" tarefa : ${tarefas}">
        <form th:action="@{/atualizar-feito/{id}(id=${tarefa.id})}" method="post" style="display:inline;">
          <label class="custom-checkbox">
            <input type="checkbox" th:checked="${tarefa.feita}" onchange="this.form.submit()">
            <span></span>
          </label>
        </form>

        <span th:text="${tarefa.descricao}" th:classappend="${tarefa.feita} ? 'done' : ''"></span>

        <div class="task-buttons">
          <a th:href="@{/editar/{id}(id=${tarefa.id})}" th:if="${!tarefa.feita}" class="edit-task-anchor">Editar</a>
          <form th:action="@{/deletar/{id}(id=${tarefa.id})}" method="post">
            <button class="delete-task-button" type="submit">Deletar</button>
          </form>
        </div>
      </li>
    </ul>


    <form th:action="@{/nova}" class="create-task-form" method="post">
      <input type="text" name="descricao" placeholder="Nome da nova tarefa" required>
      <button type="submit" class="create-task-button">Criar Nova Tarefa</button>
    </form>

    <form th:action="@{/deletar-feitas}" method="post" class="delete-all-done-form">
      <button type="submit" class="delete-all-done-button">Deletar Todas as Feitas</button>
    </form>
  </div>
</body>

</html>