body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  max-width: 600px;
  background: #ffffff;
  padding: 20px 20px 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task-list li input[type="checkbox"] {
  flex-shrink: 0;
}

.task-list li span {
  flex-grow: 1;
  word-break: break-word;
}

.task-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-task-button {
  background-color: #ff0000;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-task-button:hover {
  background-color: #bd1111;
}

.edit-task-anchor {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.edit-task-anchor:hover {
  background-color: lightgray;
}

.task-list li span.done {
  text-decoration: line-through;
  color: gray;
}

.create-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #000;
}

.create-task-button {
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid green;
  cursor: pointer;
  background-color: green;
  color: white;
}

.create-task-button:hover {
  background-color: darkgreen;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox span {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  /* Bordas arredondadas */
  display: inline-block;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.custom-checkbox input:checked+span {
  background-color: green;
  border-color: green;
}

.custom-checkbox input:checked+span::after {
  content: '';
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
}

.delete-all-done-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-all-done-button:hover {
  background-color: #bd1111;
}